<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <strong><a href="browse">Back to Lesson Available</a></strong> 
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<body>

    <section class="section">
        <div class="field is-grouped">
            <p class="control is-expanded">
              <input class="input" type="text" placeholder="Find more info about us">
            </p>
            <p class="control">
              <a class="button is-info">
                Search
              </a>
            </p>
          </div>
    </section>
    <center>
        <h1 style="font-size:100px;">
            Quetzal 
            <img src= "https://i.pinimg.com/600x315/26/87/96/2687960c35a111b45caaab0237d9f55d.jpg" width="100" height="100">
      </h1>
    </center>
    <section class="section">
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Developers
                    </h1>
                    <h2 class="subtitle">
                        Meet us!
                    </h2>
                </div>
            </div>
        </section>
    </section>
    <section class="section">
        
    </section>
    <section class="section">
    <h1 class="title">Best team ever:</h1>
        <h1 class="title">Las morras</h1>
        <div class="box">
            <h2 class="subtitle">Eva Beltran</h2>
            <h4 class="text">An amazing person and so pro programmer.</h4>
        </div>
        <div class="box">
            <h2 class="subtitle">Sofia Vega</h2>
            <h4 class="text">An amazing person and so pro programmer.</h4>
        </div>
        <div class="box">
            <h2 class="subtitle">Sofia Soto</h2>
            <h4 class="text">An amazing person and so pro programmer.</h4>
        </div>
        <div class="box">
            <h2 class="subtitle">Viviana Duenas</h2>
            <h4 class="text">An amazing person and so pro programmer.</h4>
        </div>
     
    </section>
</body>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong><a href="browse">Return to the Lessons Available page</a></strong> 
        </p>
    </div>
</footer>

</html>