{% extends "base.html" %}
{% block content %}

<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Learn
            </h1>
            <button class="button is-info is-light"><a href="nahuatl">Click here to get started</a></button>
        </div>
    </div>
</section>
<hr>
<section class="hero is-success">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Create
            </h1>
            <button class="button is-success is-light"><a href="newLesson">Click here to get started</a></button>
        </div>
    </div>
</section>


{% endblock %}